*{
    padding: 0;
    margin: 0%;
    box-sizing:border-box;
}
body{
    background-color: rgb(189, 189, 159);
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    display: inline-block;
    display: flex;
    gap: 250px;
}   
.parent{
    position: relative;
}
.parent__mmodel{
    position: absolute;

}
.parent__xmodel{
    position: absolute;
}
.parent > span {
   display: none;
}
.parent:hover .parent__mmodel{
    display: inline-block;
    display: flex;
    flex-direction: column;
}
.parent:hover .parent__xmodel{
    display: inline-block;
    display: flex;
    flex-direction: column;
}
